<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0oC5uoWVQZNnRN-Art_vD6NwpG3qrHIE</string>
	<key>GCM_SENDER_ID</key>
	<string>1044984608295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdlHackathon</string>
	<key>PROJECT_ID</key>
	<string>sdl-hackathon-869ac</string>
	<key>STORAGE_BUCKET</key>
	<string>sdl-hackathon-869ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044984608295:ios:69992b964637c0fa430002</string>
</dict>
</plist>